doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css') 
    body
        h1 Update Custom Object Form
        form(action='/update-cobj', method='POST')
            div
                label(for='name') Name:
                input(type='text', id='name', name='name', required)
            div
                label(for='bio') Bio:
                textarea(id='bio', name='bio', required)
            div
                label(for='age') Age:
                input(type='number', id='age', name='age', required)
            div
                button(type='submit') Submit
        a(href='/') Return to the homepage
